{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier", "prettier-plugin-tailwindcss"],
  "rules": {
    "prettier/prettier": ["error"],
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "jsxSingleQuote": true
  }
}
