styles
:root{
    --hover-color: #294C9C;
}
button:hover{
    background-color: var(--hover-color);
  border-color: var(--hover-color);
}
.bg-sand{
    background-color:#D4CEBC ;
}
.WhistleBlowing {
    color:aliceblue;
    font-weight: normal;

}
.transition-transform {
    transition-property: transform;
    transition-duration: 3s; /* Adjust this value to make the transition slower or faster */
  } 
  