@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem; 
}

h1,
h2{
  font-family: "Apple SD Gothic Neo", sans-serif;
  font-weight: bold;
}

h1,
header,
footer {
  color: #f6f6f6;
}

h2 {
  font-size: 2.875rem;
  color: #8C563A;
}

h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: black;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

h6 {
  font-weight: bold;
}

button {
  color: #f0f0f0;
  font-weight: bold;
}

.black-btn {
  background-color: black;
  border-radius: 1.5rem;
  height: 3rem;
  padding-inline: 2.5rem;
}

.black-btn:hover,
.blue-btn:hover {
  background-color: #294c9c;
  transition: ease-in-out;
  transition-delay: 100ms;
}

.blue-btn {
  background-color: #215ecf;
  border-radius: 1.5rem;
  padding-inline: 2rem;
  height: 3rem;
}
