.newsSection-scrollbar::-webkit-scrollbar {
    background: transparent;
    height: 12px;
}

.newsSection-scrollbar::-webkit-scrollbar-thumb {
    background: #C0C0C0;
    border-radius: 10px;
    max-width: 10rem;
}